.Login__container {
    background-image: url('../../src/images/login-background.svg');
    background-size: 1280px;
    width: 1280px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #191847;
}

.Login__header {
    position: absolute;
    font-size: 55px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    line-height: 77px;
    margin-top: -8%;
    text-align: left;

    transition: all .2s ease-in-out;
}

.Login__header:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    /* left: 50%; */
    left: 20%;
    position: absolute;
    background: #191847;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .Login__header:hover:after { 
    width: 100%; 
    left: 0%; 
  }

  @media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

.Login__prompt {
    margin-left: 0%;
    /* margin-right: 50%; */
    font-size: 30px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    line-height: 77px;
    margin-top: -7%;
}

.Login__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    gap: 12px;
    background-color: #8aa4df44;
    border: 1.3px solid #173069cb;
    border-radius: 4px;

    width: 47.5px;
    height: 48.5px;
    margin-top: 0;
    margin-left: 35%;

    background: url('../../src/images/GoogleLogo.svg');
    background-size: 45.5px;

    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;

    /* transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; */
    transition: all .2s ease-in-out; 
}

.Login__button:hover {
    background-image: url('../../src/images/GoogleLogo.svg');
    /* box-shadow: 0 0 40px 40px #8aa4df inset; */
    transform: scale(1.1); 
  }

  .Login__dudeImg {
    height: 380px;
    margin-left: 3%;
    margin-top: 10%;
    margin-bottom: 8%;
    transition: all .2s ease-in-out; 
  }

  .Login__dudeImg:hover {
    transform: scale(1.02);
}